@use "./abstracts/variables/colors";
@use "./abstracts/variables/fonts";

body {
  font-family: fonts.$main-font;
}
.app-wrapper {
  min-height: 100vh;
  .container {
    margin: auto;
    max-width: 1400px;
  }
}
// buttons
.btn {
  margin: 1em auto;
  padding: 1em 2em;
}
.btn-outline {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: colors.$very-light-gray;
  background-color: transparent;
  border: 1px solid colors.$very-light-gray;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: colors.$very-dark-violet;
    background-color: colors.$very-light-gray;
  }
}

.horizontal-bar {
  margin: 0 auto;
  height: 1px;
  width: 40%;
  background-color: colors.$grayish-blue;
}
